{% extends 'base/show.html' %}
{% set title = "404" %}
{% block content %}
    <!-- Content Begin -->

    <div id="index-board">
        <canvas class="background-board">
        </canvas>
        <section section-title="404Upper" height="1" background="/static/upload/10293916513_60a08fbb8e_b.jpg" style="height: 1125px;">
            <canvas class="section-board" color="#000000" opacity="0.5" width="1855" height="1125" style="width: 1855px; height: 1125px;">
            </canvas>
            <div left="0.28140161725067386" top="0.26844444444444443" right="0.6814016172506738" bot="0.5048888888888889" layer="20" type="text" touch-action="none" class="div-context" style="left: 522px; width: 742px; top: 353px; z-index: 20;"><p style="font-size: 179px; color: rgb(255, 255, 255);">Opp! 404</p>
            </div>
        </section>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" style="padding: 0">
                    <img style="width: 100%; height: 100%">
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
{% endblock %}